body {
    box-sizing: border-box;
}

.col1 {
    /* background:green; */
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2 {
    /* background:yellow; */
    height: 450x;
    margin-top: 40px;
    margin-bottom: 20px;

    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col3 {
    /* background:purple; */
    height: 450px;

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.col4 {
    /* background:red; */
    height: 450px;
    margin-top: 80px;

    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.col5 {
    /* background:pink; */
    height: 450px;
    margin-top: 20px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.bor {
    /* border: 2px solid black; */
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}






@media (max-width: 767.98px) {
    .cont {
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .cont {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .cont2 {
        display: none;
    }
}

@media (min-width: 1200px) {

    .cont2 {
        display: none;
    }
}